{% extends 'main/base.html' %}
{% load static %}

{% block title %}
   Доставка
{% endblock %}

{% block content %}
<section class="mt-5">
    <div class="container">
          <div class="row">
            <div class="col ">
              <div class="jumbotron">
                <h1 class="display-4">Доставка</h1>
                <hr class="my-4">
                <p class="lead">
                    <strong>Доставка товаром осуществляется транспортной компанией СДЕК или Почтой России</strong> <br>
                    Для заказов от 3990р — доставка бесплатно. <br>
                    Для заказов до 3990р — стоимость будет рассчитана при оформлении заказа. <br>
                </p>
                <p class="lead">
                    Расчет доставки крупногабаритных товаров производится в процессе оформления заказа на сайте или при подтверждении заказа оператором.
                    Вы всегда можете узнать точную стоимость доставки у операторов по телефону 8 (800) 700-5-200.
                </p>
              </div>
            </div>
          </div>
    </div>
</section>
{% endblock %}