{% extends 'main/base_admin.html' %}
{% load static %}

{% block title %}
   Админ-панель | {{ request.user.surname }} {{ request.user.first_name }}
{% endblock %}

{% block add_nav_link %}
 <li class="nav-item">
   <a class="nav-link" href="{% url 'edit_product_p_admin_url' pk=product.pk %}">Редактировать</a>
 </li>
{% if image %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'update_product_image_admin_url' pk=image.pk product=product.pk %}">Изменить изображение</a>
 </li>
{% else %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'add_product_image_admin_url' pk=product.pk %}">Добавить изображение</a>
 </li>
{% endif %}
{% endblock %}

{% block content %}
<section class="mt-5 mb-5">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 mb-1">
                <div class="card">
                    {% if image %}
                    <div class="img-news-detail">
                        <a class="" data-bs-toggle="modal" data-bs-target="#myModal" href="#" role="button">
                            <img src="{{ image.image.url }}" class="card-image card-img-top" alt="...">
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-title"></p>
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link na-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link na-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Характеристики</button>
                        </li>
                    </ul>
                    <div class="p-3 tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <p class="mb-0">{{ product.description}}</p>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <p class="mb-0">{{ product.characteristics }}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <img src="{{ image.image.url }}" class="img-modal" alt="...">
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}